.search-filter-container {
  display: flex;
  align-items: center;
}

ion-searchbar {
  flex-grow: 1; /* Para que la barra de búsqueda ocupe todo el espacio disponible */
  margin-right: 8px; /* Margen derecho para separar la barra de búsqueda del botón de filtro */
}

button {
  background-color: transparent; /* Fondo transparente para que el botón se integre mejor con el icono */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.filtro {
  --color: rgb(90, 90, 90);
}

ion-card {
  border-radius: 8px;
}

ion-card-header {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
}

ion-card-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;  
}

ion-card-title img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.reserva {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h4 {
  font-size: 18px;
}

p {
  color: #666;
}

ion-icon {
  margin: 1px;
  font-size: 20px;
}

.label h2 {
  font-weight: bold;
}

.label h4 {
  color: black;
}

#arrow-icon {
  color: rgb(42, 42, 42);
}

.disabled-message {
  display: flex;
  align-items: center;
  color: rgb(255, 126, 126);
}

.disabled-message ion-icon {
  margin-right: 5px;
}

#arrow-icon {
  color: rgb(42, 42, 42);
}