ion-card-header {
  padding: 10px 15px 1px;
}

ion-card-content {
  font-size: 1rem;
  padding-bottom: 0px;
}

.p-precio {
  font-size: 90%;
  color: #1f1f1f;
  margin-bottom: 0;
  font-weight: bold;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ver-mas {
  color: #3880ff;
  font-weight: bold;
  font-size: 90%;
}

.header {
  padding: 10px 15px 1px;
}

.p-titulo {
  font-size: 100%;
}

.m-titulo {
  font-size: 1.35rem;
}
