<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Tienda</ion-title>
    <ion-buttons>
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="/home" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <ion-card *ngFor="let producto of productos">

    <img src="{{ producto.img }}" alt="Pala de padel">

    <ion-card-header>
      <ion-card-title class="p-titulo">{{ producto.titulo }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="price-container">
        <p class="p-precio">Precio: {{ producto.precio }} € </p>
        <ion-button fill="clear" class="ver-mas" (click)="openModal(producto)">Ver más...</ion-button>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>
