<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Duplicados</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="gestion-reservas" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let usuario of usuarios" class="card">
    
    <ion-card-header>
      <ion-card-title>
        <img alt="{{ usuario.nombre }}" src="../../../assets/usuario.png">{{ usuario.nombre }}
      </ion-card-title>
      <ion-card-subtitle>{{ usuario.correo }}</ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let reserva of reservasUsuarios[usuario.uid]" class="reserva">
        <ion-label class="label">
          <h4>Fecha: {{ reserva.fecha }}</h4>
          <p>Hora: {{ reserva.hora }}</p>
        </ion-label>
        <ion-icon id="ellipsis-icon" name="ellipsis-vertical"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-card>  

</ion-content>
