<ion-content>

  <ion-toolbar>
    <ion-title class="toolbar">Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="product-modal-container">
    <img src="{{ producto.img }}" alt="{{ producto.titulo }}" class="product-image">

    <ion-card class="product-details">
      <ion-card-header>
        <ion-card-title class="product-title">{{ producto.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="price-container">
          <ion-icon name="pricetag-outline" class="price-icon"></ion-icon>
          <span class="price" *ngIf="!producto.descuento.activo">Precio: {{ producto.precio }} €</span>
          <span class="price" *ngIf="producto.descuento.activo">Precio: {{ producto.descuento.precio }} €</span>
        </div>
        <p class="product-description">{{ producto.desc }}</p>
        <p class="unidades">{{ producto.unidades > 0 ? '• Unidades disponibles: ' + producto.unidades : '• No hay unidades disponibles' }}</p>
        <p class="product-warning"><ion-icon name="storefront-outline"></ion-icon> Este producto está disponible únicamente en nuestra tienda física.</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
