ion-content {
  --background: #f8f8f8;
}

ion-toolbar {
  --background: #333;
  --color: white;
}

.product-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.price-icon {
  font-size: 1.5rem;
  color: #454545;
  margin-right: 8px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.product-description {
  font-size: 1rem;
  color: #474747;
  margin: 10px 0;
  text-align: center;
}

.unidades {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10px;
  color: #4a4a4a;
}

.product-warning {
  font-size: 0.9rem;
  color: #696969;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.product-warning ion-icon {
  font-size: 1.1rem;
  margin-right: 5px;
  vertical-align: sub;
}
