<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Gestión Reembolsos</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="/ajustes" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="search-filter-container">
    <ion-searchbar placeholder="Buscar reembolso" animated mode="ios" (ionInput)="searchPay($event)"></ion-searchbar>
    <ion-button fill="clear" class="filtro" mode="ios" id="popover-button">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="filtroUsuarios">
    <ion-card *ngFor="let usuario of resultsU">

      <ion-card-header>
        <ion-card-title>
          <img alt="{{ usuario.nombre }}" src="../../../assets/usuario.png">{{ usuario.nombre }}
        </ion-card-title>
        <ion-card-subtitle>{{ usuario.correo }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-list>
        <ion-item *ngFor="let reembolso of reembolsosUsuarios[usuario.uid]" (click)="navegarComponente('editar-pag', reembolso, reembolso.uid)" class="reembolso">
          <ion-label class="label">
            <p class="p-payment">Creado: {{ reembolso.created }}</p>
            <p class="p-payment">ID: {{ reembolso.paymentIntentId }}</p>
          </ion-label>
          <ion-icon id="arrow-icon" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
  
      <ion-text *ngIf="!reembolsosUsuarios[usuario.uid] || reembolsosUsuarios[usuario.uid].length === 0">
        <p class="no-reembolsos-message">No hay reembolsos para este usuario.</p>
      </ion-text>
  
    </ion-card>
  </div>

  <ion-card *ngIf="filtroReembolsos">

    <ion-card-header>
      <ion-card-title>
        <img alt="reembolsos" src="../../../assets/gestion-reembolso.png">Pagos
      </ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let reembolso of resultsR" (click)="navegarComponente('editar-pago', reembolso, reembolso.uid)" class="reembolso">
        <ion-label class="label">
          <p class="p-payment">Creado: {{ reembolso.created }}</p>
          <p class="p-payment">ID: {{ reembolso.paymentIntentId }}</p>
        </ion-label>
        <ion-icon id="arrow-icon" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-text *ngIf="!resultsR || resultsR.length === 0">
      <p class="no-reembolsos-message">No hay recibos.</p>
    </ion-text>

  </ion-card>

</ion-content>

<ion-popover trigger="popover-button" [dismissOnSelect]="true" mode="ios">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item button (click)="onChangeDisplay('usuarios')">Usuarios</ion-item>       
        <ion-item button (click)="onChangeDisplay('reembolsos')">Reembolsos</ion-item>   
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>