.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.datetime {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ion-datetime {  
  --background: #f1f1f1;
  border-radius: 16px;
  box-shadow: rgba(#7b7b7b, 0.3) 0px 10px 15px -3px;
}

.lista-pistas {  
  padding: 4%;
}

.section {
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

ion-col {
  border: 1px solid #ccc;
  padding: 1%;
  flex-basis: calc(50% - 20px);
  box-sizing: border-box;
  font-size: small;
  margin: 0 10px 10px 0;
}

.button-hora {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.leyenda-container {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.leyenda {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 4%;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leyenda-item {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5%;
}

.color-indicador {
  width: 1rem;
  height: 1rem;
  margin-right: 5%;
}

.descripcion {
  font-size: 0.8rem;
}

.dia-no-seleccionado {
  background-color: rgb(231, 84, 5);
}

.hora-disponible {
  background-color: rgb(36, 200, 36);
}

.hora-no-disponible {
  background-color: rgb(251, 47, 47);
}

.hora-pasada {
  background-color: grey;
}

.hora-proceso {
  background-color: rgb(88, 70, 255);
}

.hora-aceptada {
  background-color: grey;
}

.p-war {
  color: #696969;
  margin-top: 3%;
  font-size: small;
}

.p-war ion-icon {
  font-size: 1.1rem;
  margin-right: 5px;
  vertical-align: sub;
}