.subtitle {
  margin-right: 10px;
  margin-top: 3%;
  margin-bottom: -4%;
}

.lista-pistas {
  margin: 5%;
  padding: 4%;
}

ion-row {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  border: 1px solid #ccc;
  padding: 1%;
  margin: 2%;
  flex-basis: 45%;
  box-sizing: border-box;
  font-size: small;
}

ion-datetime {
  margin-bottom: 10%;
}

.leyenda {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.columna {
  width: 100%;
  height: 100%;
  flex: 1;
}

.leyenda-item {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 5%;
}

.color-indicador {
  width: 13px;
  height: 13px;
  margin-right: 5%;
}

.descripcion {
  font-size: 60%;
}

.dia-no-seleccionado {
  background-color: rgb(231, 84, 5);
}

.hora-disponible {
  background-color: rgb(36, 200, 36);
}

.hora-no-disponible {
  background-color: rgb(251, 47, 47);
}

.hora-pasada {
  background-color: grey;
}

