<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Usuario</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngIf="usuario$ | async as usuario">
    <ion-card-content>
      
      <div class="center-container">
        <ion-avatar class="profile-picture">
          <img src="../../../assets/usuario.png" alt="Foto de perfil">
        </ion-avatar>
      </div>

      <p>
        <ion-input label="Nombre" label-placement="stacked" fill="outline" type="text" mode="md" [(ngModel)]="usuario.nombre"></ion-input>
      </p>
      
      <p>
        <ion-input label="Correo electrónico" label-placement="stacked" fill="outline" type="email" mode="md" [(ngModel)]="usuario.correo"></ion-input>      
      </p>

      <p>
        <ion-input label="DNI" label-placement="stacked" fill="outline" type="text" mode="md" [(ngModel)]="usuario.dni"></ion-input>      
      </p>

    </ion-card-content>
  </ion-card>

</ion-content>
