<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Usuario</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngIf="usuario$ | async as usuario">
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>{{ usuario.nombre }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Correo:</ion-label>
        <ion-text>{{ usuario.correo }}</ion-text>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>
