.label h2 {
  font-weight: bold;
}

.label h4 {
  color: black;
}

#arrow-icon {
  color: rgb(42, 42, 42);
}

.disabled-message {
  display: flex;
  align-items: center;
  color: rgb(255, 126, 126);
}

.disabled-message ion-icon {
  margin-right: 5px;
}