<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Gestión Usuarios</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let usuario of usuarios" class="ion-card">

    <img id="img" alt="{{ usuario.nombre }}" src="../../../assets/usuario.png">

    <ion-card-header>
      <ion-card-title>{{ usuario.correo }}</ion-card-title>
      <ion-card-subtitle>{{ usuario.nombre }}</ion-card-subtitle>      
    </ion-card-header>

    <ion-button fill="clear" class="opciones"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
    
  </ion-card>

</ion-content>
