<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Pistas</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="/home" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="card-container">

    <ng-container *ngFor="let pista of pistas">

      <ion-card *ngIf="pista.abierto" (click)="navegarHorarios(pista.id)" class="pista-card">

        <img alt="{{ pista.desc }}" src="{{ pista.img }}">
  
        <ion-card-header>
          <div class="header-content">

            <div>
              <ion-card-title>{{ pista.titulo }}</ion-card-title>
              <ion-card-subtitle>{{ pista.desc }}</ion-card-subtitle>
            </div>

            <div class="price-container">
              <div class="icon-wrapper">
                <ion-icon name="pricetag-outline" class="price-icon"></ion-icon>
                <span class="icon-label">
                  {{ pista.precio }} €         
                </span>
              </div>
            </div>

          </div>
        </ion-card-header>
  
      </ion-card>

    </ng-container>

  </div>
  
</ion-content>
