.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ios ion-card {
  width: 92%;
  margin-bottom: 0px;
}

.md ion-card {
  width: 91%;
  margin-bottom: 10px;
}

ion-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}