<ion-header>

  <ion-toolbar color="dark">
    <ion-title id="title">Ajustes</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-card">
    <img id="img" src="../../../assets/gestion-usuarios.png"/>
      <div class="card-title">GESTIÓN DE USUARIOS</div>
  </ion-card>

  <ion-card class="ion-card">
    <img id="img" src="../../../assets/gestion-reservas.png"/>
      <div class="card-title">GESTIÓN DE RESERVAS</div>
  </ion-card>

  <ion-card class="ion-card" (click)="navegarComponente('gestion-pistas')">
    <img id="img" src="../../../assets/gestion-pistas.png"/>
      <div class="card-title">GESTIÓN DE PISTAS</div>
  </ion-card>

</ion-content>
