<ion-header>

  <ion-toolbar color="dark">
    <ion-title id="title">Ajustes</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="/home" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-card" (click)="navegarComponente('gestion-usuarios')">
    <img id="img" src="../../../assets/gestion-usuarios.png"/>
      <div class="card-title">GESTIÓN DE USUARIOS</div>
  </ion-card>

  <ion-card class="ion-card" (click)="navegarComponente('gestion-reservas')">
    <img id="img" src="../../../assets/gestion-reservas.png"/>
      <div class="card-title">GESTIÓN DE RESERVAS</div>
  </ion-card>

  <ion-card class="ion-card" (click)="navegarComponente('gestion-pistas')">
    <img id="img" src="../../../assets/gestion-pistas.png"/>
      <div class="card-title">GESTIÓN DE PISTAS</div>
  </ion-card>

  <ion-card class="ion-card" (click)="navegarComponente('gestion-pagos')">
    <img id="img" src="../../../assets/metodo-pago.png"/>
      <div class="card-title">GESTIÓN DE RECIBOS</div>
  </ion-card>

  <ion-card class="ion-card" (click)="navegarComponente('gestion-reembolsos')">
    <img id="img" src="../../../assets/gestion-reembolso.png"/>
      <div class="card-title">GESTIÓN REEMBOLSOS</div>
  </ion-card>

  <ion-card class="ion-card" (click)="navegarComponente('gestion-productos')">
    <img id="img" src="../../../assets/gestion-productos.png"/>
      <div class="card-title">GESTIÓN PRODUCTOS</div>
  </ion-card>

</ion-content>
