.reset-content {
  width: 100%;
  background: #fff;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
}

.reset-content .form-input {
  position: relative;
  margin-bottom: 0.5%;
}

.reset-content ion-icon {
  position: absolute;
  top: 37px;
  z-index: 2;
  font-size: 1.2rem;
  left: 5px;
}

.reset-content ion-label {
  position: absolute;
  margin-left: 35px;
  font-weight: bolder;
  font-size: 0.8rem;
  top: 3px;
}

.reset-content ion-input {
  font-size: 0.9rem;
  --padding-start: 36px;
  --padding-top: 36px;
  color: #7b7b7b;
}

.reset-content .action-buttons {
  text-align: center;
}

.reset-content .reset-button {
  --background: #f9b801;
  width: 100%;
  font-weight: bold;
}

.reset-content .action-buttons p {
  margin-top: 5%;
  font-size: 1rem;
}

.reset-content .action-buttons a {
  color: #7b7b7b;
}

.reset-content .signup-button {
  --border-color: #b4b4b4;
  --color: #000000;
  font-weight: bold;
  margin-top: 10px;
  width: 80%;
  height: 50px;
}
