<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Restablecer</ion-title>
    <ion-buttons>
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="/login" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="reset-section ion-padding">
    <div class="reset-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-input type="email" label="Correo electrónico" labelPlacement="floating" [(ngModel)]="correo" class="label"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="reset-button" (click)="onReset()">Restablecer Contraseña</ion-button>
    </div>
  </div>
  
</ion-content>

