.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 80px;
}

.ios ion-card {
  margin-bottom: 0px;
}

.pista-card {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s
}

.pista-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pista-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pista-card ion-card-header {
  text-align: left;
  padding: 10px;
}

.pista-card ion-card-title {
  font-size: 1.2rem;
  color: #333;
}

.pista-card ion-card-subtitle {
  font-size: 0.9rem;
}

.bottom-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.p-info {
  flex-grow: 1;
  display: flex;
  align-items: center;  
  font-size: 13px;
  margin: 0;
}

.p-info ion-icon {
  margin-right: 5px;
  font-size: 18px;
}

.opciones {
  --background: #eeeeee;
  --color: rgb(90, 90, 90);  
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: auto;      
}

.fab-button {
  --background: #f2f399;
  --background-activated: #f2f399;
  --background-hover: #d7e681;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}

.checkbox {
  margin-right: 20px;
}

.hora-null::part(native) {
  background-color: #ff9595;
}

.custom-file {
  margin-top: 10px;
  margin-left: 25px; 
}

.pista-boton {
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}

.modal-hora {
  --background: transparent;
}

ion-datetime {
  width: 99%;
  border: 2px solid #ccc;
  border-color: black;
  border-radius: 15px;
  background-color: white;
}