<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Gestión Pistas</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let pista of pistas" [class.last-card]="ultimaCard(pista)">

    <img alt="{{ pista.desc }}" src="{{ pista.img }}">

    <ion-card-header>
      <ion-card-title>{{ pista.titulo }}</ion-card-title>
      <ion-card-subtitle>{{ pista.desc }}</ion-card-subtitle>      
    </ion-card-header>

    <ion-button fill="clear" class="opciones" (click)="presentActionSheet(pista)"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
    
  </ion-card>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button class="fab-button" id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-modal" class="formulario-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Añadir pista</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-list>
          
          <ion-item>
            <ion-label position="stacked">Título</ion-label>
            <ion-input [(ngModel)]="pista.titulo" name="nombre" type="text" required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-input [(ngModel)]="pista.desc" name="descripcion" type="text" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Precio</ion-label>
            <ion-input [(ngModel)]="pista.precio" name="precio" type="number" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Horas</ion-label>
            <ion-input [(ngModel)]="pista.horas" name="horas" type="text" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Imagen</ion-label>
            <ion-input accept="image/*" type="file" class="custom-file-input" required></ion-input> <!--(change)="handleImageChange($event)"-->
          </ion-item>

        </ion-list>

          <ion-button color="dark" (click)="agregarPista()" class="pista-boton">Añadir Pista</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
