ion-card {
  border-radius: 8px;
}

ion-card-header {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
}

ion-card-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;  
}

ion-card-title img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

ion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

ion-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h4 {
  font-size: 18px;
}

p {
  color: #666;
}

ion-icon {
  margin: 1px;
  font-size: 20px;
}