<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Reservas</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let pista of pistas">

    <ion-card-header>
      <ion-card-title>
        <img alt="{{ pista.desc }}" src="{{ pista.img }}">{{ pista.titulo }}
      </ion-card-title>
    </ion-card-header>

  <ion-list>
      <ion-item-sliding *ngFor="let reserva of reservasPistas[pista.id]">
        <ion-item>
          <ion-label>
            <h4>Fecha: {{ reserva.fecha }}</h4>
            <p>Hora: {{ reserva.hora }}</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="confirmarBorrar(reserva.pista, reserva)">Eliminar</ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>

    <ion-text *ngIf="!reservasPistas[pista.id] || reservasPistas[pista.id].length === 0">
      <p class="no-reservas-message">No hay reservas para esta pista.</p>
    </ion-text>

  </ion-card>

</ion-content>
