.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 80px;
}

.ios ion-card {
  margin-bottom: 0px;
}

.producto-card {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.producto-card ion-card-header {
  text-align: center;
  padding: 10px;
}

.producto-card ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.producto-card ion-card-content {
  padding: 10px;
}

.price-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-wrapper {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.icon-wrapper ion-icon {
  font-size: 24px;
  margin-right: 10px;
}

.icon-label {
  font-size: 16px;
}

.price-icon {
  color: #484848;
  margin-right: 8px;
  font-size: 1.2rem;
}

.ver-mas {
  --background: #5793fa;
  --color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.unidades {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10px;
  color: #4a4a4a;
}

.opciones {
  --background: #eeeeee;
  --color: rgb(90, 90, 90);  
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;   
}

.fab-button {
  --background: #f2f399;
  --background-activated: #f2f399;
  --background-hover: #d7e681;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}

.checkbox {
  margin-right: 20px;
}

.item-descanso ion-input {
  width: 150px;
}

.custom-file {
  margin-top: 10px;
  margin-left: 25px; 
}

.descuento-null {
  background-color: #ff9595;
}

.producto-boton {
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}