<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Reserva</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngIf="reserva">

    <ion-card-content>
        <ion-label class="label">
          <h4>Fecha: {{ reserva.fecha }}</h4>
          <p>Hora: {{ reserva.hora }}</p>
        </ion-label>
    </ion-card-content>

  </ion-card>

</ion-content>
