ion-card {
  border-radius: 8px;
}

ion-card-header {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
}

ion-card-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;  
}

ion-card-title img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-cambios {
  width: 100%;
  height: 85%;
  font-size: 80%;
}

.centered-buttons {
  position: relative;
  bottom: 0;
  left: 0;
  width: 95%;
  margin-left: 5px;
}

.centered-buttons ion-row {
  justify-content: center;
}

.payment-card {
  border-radius: 8px;
}

.payment-card ion-card-header {
  background-color: #364c63;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.payment-card ion-card-content {
  padding: 5px;
}

.p-payment {
  font-size: small;
}

.reserva-card {
  border-radius: 8px;
}

.reserva-card ion-card-header {
  background-color: #2b5f32;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.reserva-card ion-card-content {
  padding: 5px;
}

.reserva-boton {
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}