<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Editar Pago</ion-title>
    <ion-buttons slot="start">
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button defaultHref="/gestion-pagos" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngIf="pago" class="payment-card">

    <ion-card-header>
      Detalles del Pago
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="label">
            <h4>• Fecha:</h4>
            <p class="p-payment">{{ pago.created }}</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="label">
            <h4>• Cantidad:</h4>
            <p class="p-payment">{{ pago.amount }} €</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="label">
            <h4>• ID del Pago:</h4>
            <p class="p-payment">{{ pago.paymentIntentId }}</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="label">
            <h4>• Reserva:</h4>
            <p class="p-payment">{{ pago.active ? 'Reserva Existente' : 'Reserva Borrada' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    
  </ion-card>

</ion-content>
