.payment-card {
  border-radius: 8px;
}

.payment-card ion-card-header {
  background-color: #364c63;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.payment-card ion-card-content {
  padding: 5px;
}