<ion-header>
  
  <ion-toolbar color="dark">
    <ion-title id="title">Verificación</ion-title>
    <ion-buttons>
      <div class="ion-align-items-center ion-justify-content-between">
        <ion-back-button (click)="navigateToLogin()" class="back-button-icon-only" style="text-indent: -9999px;"></ion-back-button>          
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="confirmation-content">

  <ion-grid *ngIf="usuario$ | async as usuario; else cargando">
    <ion-row>
      <ion-col size="12">
        <div class="confirmation-message">
          <h2>{{ esRegistro ? '¡Gracias por registrarte!' : '¡Correo modificado!' }}</h2>
          <p>Hemos enviado un correo de confirmación a la dirección:</p>
          <p class="user-email">{{ usuario?.email }}</p>
          <p *ngIf="esRegistro">Por favor, revisa tu correo electrónico y haz clic en el enlace de confirmación para verificar tu dirección de correo.</p>
          <p *ngIf="!esRegistro">Tu correo electrónico ha sido modificado. Por favor, revisa tu nuevo correo y sigue las instrucciones para verificarlo.</p>
          <p>Una vez confirmado, podrás iniciar sesión en la aplicación.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-button class="resend-verification" (click)="enviarEmailVerificacion()">Reenviar Email de Verificación</ion-button>
    <ion-button class="resend-verification" (click)="estadoEmailVerificacion()">Sesión</ion-button>
    <ion-button class="resend-verification" (click)="reloadApp()">Recargar Aplicación</ion-button>

  </ion-grid>

  <ng-template #cargando>Cargando...</ng-template>
    
</ion-content>